/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 
 .row{
    margin-right: 0px;
    margin-left: 0px;
 }

 .bg-primary{
     background-color: #56bced !important;
 }

 @keyframes shake {
    0% {
      transform:  rotate(0deg);
    }
    16% {
      transform:  rotate(-20deg);
    }
    33% {
      transform:  rotate(20deg);
    }
    49% {
      transform:  rotate(0deg);
    }
    66% {
      transform:  rotate(20deg);
    }
    82% {
      transform:  rotate(-20deg);
    }
    100% {
      transform:  rotate(0deg);
    }
  }