// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.note {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    margin: auto;
    padding-top: 10px;
    width: 90%;
    max-width: 250px;
    height: 250px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    text-align: center;
}

.note-date{
    font-size: 10px;
    position: absolute;
    bottom: 0;
    text-align: right;
    margin-left: 25%;
    float: right;
}

a.deleteLink {
    position: absolute;
    top: 0;
    margin-left: 23%;
    color: #6c757d;
}
a.modifyLink  {
    position: absolute;
    top: 0;
    margin-left: 18%;
    color: #6c757d;
}

a.deleteLink:hover{
    color: #dc3545;
}

a.modifyLink:hover{
    color: #28a745;
}

a.deleteLink:hover svg, a.modifyLink:hover svg{
    animation: shake 0.5s;
    animation-iteration-count: 0.5s;
}

@keyframes shake {
    0% {
      transform:  rotate(0deg);
    }
    16% {
      transform:  rotate(-20deg);
    }
    33% {
      transform:  rotate(20deg);
    }
    49% {
      transform:  rotate(0deg);
    }
    66% {
      transform:  rotate(20deg);
    }
    82% {
      transform:  rotate(-20deg);
    }
    100% {
      transform:  rotate(0deg);
    }
  }

  .confirmButton { 
    font-weight: 400 !important;
    color: #212529 !important;
    text-align: center !important;
    vertical-align: middle !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    padding: 0.375rem 0.75rem !important;
    line-height: 1.5 !important;
    border-radius: 0.25rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    background-color: white !important;
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
  }