<div class="header">
<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <a class="navbar-brand" href="notes">Notes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link underlineHover" href="/notes">Notes</a>
      </li>
      <% if admin? %>
        <li class="nav-item ">
          <a class="nav-link underlineHover" href="/user/index">Users</a>
        </li>
      <%end%>
    </ul>
    <% if logged_in? %>
    <a class="nav-link underlineHover float-right" href="/logout">Logout</a>
    <% end %>
  </div>
</nav>
</div>